<div class="container">
  <br>
  <div class="row">
    <%= link_to select_monthly_subscription_path(@user) do%>
      <div class="col-sm-3 peli_container buy text-center margin_left">
        <h3>Select Plan</h3>
        <h4>Oro</h4>
        <button class="btn btn-info">Pagar Ahora!</button>
      </div>
    <% end %>
    <%= link_to select_monthly_subscription_path(@user) do%>
      <div class="col-sm-3 peli_container buy text-center margin_left">
        <h3>Select Plan</h3>
        <h4>Plata</h4>
        <button class="btn btn-info">Pagar Ahora!</button>
      </div>
    <% end %>
    <%= link_to select_monthly_subscription_path(@user) do%>
      <div class="col-sm-3 peli_container buy text-center margin_left">
        <h3>Select Plan</h3>
        <h4>Bronce</h4>
        <button class="btn btn-info">Pagar Ahora!</button>
      </div>
    <% end %>
  </div>
</div>
