<footer class="blackground">
  <div class="row">
    <div class="col-md-2 hidden-xs hidden-sm footer_link padding">
      <a href="#">Help</a><br>
      <a href="#">About</a><br>
      <a href="#">Feedback</a>
    </div>
    <div class="col-md-2 hidden-xs hidden-sm">
      <div class="col-sm-2 footer_link padding">
        <a href="#">Help</a><br>
        <a href="#">About</a><br>
        <a href="#">Feedback</a>
      </div>
    </div>
    <div class="col-md-4 col-xs-12 footer_link padding text-center">
      <p class="text_header"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Join the newsletter</p>
      <button class="btn btn-info">Join the Newsletter!</button>
    </div>
    <div class="col-sm-4 hidden-xs hidden-sm footer_link padding text_header">
      <p>Follow us</p>
      <div class="icones">
        <a href="https://twitter.com/" class="fa fa-twitter"></a>&nbsp;&nbsp;&nbsp;
        <a href="https://www.facebook.com/" class="fa fa-facebook-square"></a>&nbsp;&nbsp;&nbsp;
        <a href="https://www.youtube.com/" class="fa fa-youtube-play"></a>&nbsp;&nbsp;&nbsp;
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="text-center sub_text">
      <p>copyleft - merlielmag</p>
    </div>
  </div>
</footer>
