<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2 class="text-center">Comprar</h2>
    <table class="table table_compra text-center">
      <tr>
        <td><img src="<%= @pelicula.image %>" alt="" class="foto_petita"></td>
        <td><%= @pelicula.name %></td>
        <td><%= @pelicula.precio / 100.0 %>&nbsp;€</td>
        <td><button class="btn btn-danger">Eliminar</button></td>
        <td><%= render 'charges/new' %></td>
      </tr>
    </table>
  </div>
</div>
