<% @pelicula.each do |peli| %>
  <div class="col-xs-3 peli_container">
    <div class="row text-center">
      <div class="col-xs-12">
        <img src= '<%= peli.image %>' alt="">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12 text_header">
        <%= peli.name %>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <%= peli.main_actor %>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <%= peli.year %>
      </div>
    </div>
  </div>
<% end %>
