<% @pelicula.each do |peli| %>
  <div class="col-xs-3">
    <div class="row text-center">
      <div class="col-xs-12">
        <img src= '<%= peli.image %>' alt="">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <%= peli.name %>
      </div>
    </div>
  </div>
<% end %>
