.alert-success {
  background-color: green;
  border-color: #b6b6b6;
  color: #222;
  text-align: left;
}

.alert-danger {
  background-color: red;
  border-color: #b6b6b6;
  color: #222;
  text-align: left;
}

.alert-warning {
  background-color: yellow;
  border-color: #b6b6b6;
  color: #222;
  text-align: left;
}

.alert-info {
  background-color: blue;
  border-color: #b6b6b6;
  color: #222;
  text-align: left;
}
