// Place all the styles related to the settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cos {
  width: 400px;
  margin: auto;
  text-align: center;
  padding-bottom: 5em;
}

.titol {
  width: 400px;
  margin: auto;
  text-align: center;
}
