// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grey: #EEE;
$fosc: grey;
$white: #FFF;
$black: black;
$blue: #1B97E3;
$resaltat: #FDEE00;
$background: orange;


body {
  background: $grey !important;
}

#wrapper {
  max-width: 1100px;
  margin: auto;
  background: $white;
  font-family: 'Source Sans Pro', sans-serif;
}

#content {
  width: 95%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

#bs-navbar {
  text-align: right;
}

#first_li {
  margin-left: 10%;
}

.align-right {
  text-align: right;
  padding-right: .5em;
}

.background {
  background: $background;
  color: $white;
}

.background_label {
  background: $resaltat;
}

.blackground {
  background: $black;
  color: $white;
  padding-left: 20px;
  padding-top: 4px;
  padding-right: 10px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.border {
  border-bottom: 1px solid $white;
}

.bottom {
  margin-top: 2.5em;
}

.clear {
  clear: both;
}

.content {
  border: 1px solid $grey;
  padding: 1em;
}

.footer_link a {
  text-decoration: none !important;
  color: $white;
}
.footer_link a:hover {
  color: $resaltat;
}

.icones {
  font-size: 2.5em;
}

.icones a {
  text-decoration: none !important;
  color: $blue;
  font-size: .9em;
  font-weight: bold;
  text-transform: uppercase;

}
.icones a:hover {
  color: $resaltat;
}

.img-responsive {
  margin: auto;
}

.login {
  background: $white;
  color: $black;
  width: 300px;
  height: 350px;
  border: 1px solid $grey;
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

.marquesina {
  background: $black;
  color: $white;
  height: 30px;
  padding-left: 20px;
  padding-top: 4px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.margin_bottom {
  margin-bottom: -10px !important;
}

.margin_top {
  margin-top: 2.5em;
  margin-right: 3em;
}

.navbar-inverse {
  background: none !important;
  border: none !important;
  color: $white !important;
}

.navbar-nav {
  float: none !important;
}

.navbar-toggle {
  border: none !important;
}

.one_column {
  width: 25%;
  height: 305px;
  overflow: hidden;
  border-left: 1px solid $white;
  float: left;
}

.padding {
  padding: .5em;
}

.padding_zero {
  padding: 0px !important;
}

.peli_container {
  margin-bottom: 2em;
}

.search-field {
  width: 300px;
  color: $black;
}

.slider_container {
  height: 305px;
}

.sub_text {
  color: $fosc;
}

.text_header {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
}

.text_link a {
  text-decoration: none !important;
  color: $white !important;
  font-size: .9em;
  font-weight: bold;
  text-transform: uppercase;

}
.text_link a:hover {
  color: $resaltat !important;
}

.text_resaltat {
  color: $resaltat;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.titol {
  text-transform: uppercase;
  font-weight: bold;
}
