// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #EEEEEE !important;
}

#wrapper {
  max-width: 1100px;
  margin: auto;
  background: white;
}

#myCarousel {
  //width: 500px;
}

.clear {
  clear: both;
}

.blackground {
  background: black;
  color: white;
  padding-left: 20px;
  padding-top: 4px;
  padding-right: 10px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.marquesina {
  background: black;
  color: white;
  height: 30px;
  padding-left: 20px;
  padding-top: 4px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.bottom {
  margin-top: 2.5em;
}

.margin_bottom {
  margin-bottom: -10px !important;
}

.search-field {
  width: 100%;
}

.align-right {
  text-align: right;
  padding-right: .5em;
}

.background {
  background: orange;
  color: white;
}

.padding {
  padding: .5em;
}

.border {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.one_column {
  width: 25%;
  border-left: 1px solid white;
  float: left;
}

.two_column {
  width: 50%;
  float: left;
}

.text_header {
  text-transform: uppercase;
  font-weight: bold;
}

.text_link a {
  text-decoration: none !important;
  color: white;
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;

}
.text_link a:hover {
  color: white;
}

.text_resaltat {
  color: yellow;
}
